button{
    font-size: 30.5px;
    font-family:sans-serif;
    border-radius: 8px;
    padding: 13px 29px;
}

.primary{
    background-color: #458cf6;
    border: white;
    color: white;
}

.secANDthird_forth{
    border-color: #e2e2e2;
    border-width: 2px;
    background-color: white;
}

.default{
    border-style: solid;
}


.dashed{
    border-style: dashed;
}

.danger{
    color: red;
    background-color: #f4f4f4;
}


