header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to right, #553c9a, #fefdff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px #0c0808;
  }

  main{
    display: flex;
  }

  section{
    margin: 50px;
  }

  section hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


main>hr{
    box-shadow: 0 0 10px 1px black;
}

a.head {
    background-color: rgb(233, 171, 171);
    box-shadow: 0 5px 0 rgb(149, 149, 230);
    color: white;
    padding: 0.5em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #ce0606;
    cursor: pointer;
  }
  
  a:active {
    box-shadow: none;
    top: 5px;
  }

  body{
    background: linear-gradient(45deg, rgb(246, 210, 210), rgb(255, 227, 174), rgb(255, 255, 182), rgb(185, 255, 185), rgb(188, 188, 255), rgb(225, 183, 255), rgb(255, 182, 255), rgb(255, 208, 208));
}

img{
    border: 2px solid black;
    border-radius: 10px;
}

figcaption{
    border: dotted;
}