// @mixin Smalllayout($background-color,$border-color,icon-color){
@mixin grid{
        display: grid;
        grid-template-columns: 49px 65px 28px 216px 119px 63px 15px;
        grid-template-rows: 41px 25px 44px;
}
    
@mixin Smalllayout($background-color,$border-color,$icon-color){
        width: 570px;
        height: 150px;
        border: 1px solid $border-col;
        border-radius: $border-radius;

        >i:nth-child(1){
            color: $x-color;
            font-size: 14px;
            grid-area: 1/-1/2/-2;
            margin-top: 18px;
        }

        >i:nth-child(2){
            height: 65px;
            width: 65px;
            border-radius: 50%;
            background-color:$background-color;
            border:  7px solid $border-color;
            color: $icon-color;
            text-align: center;
            line-height: 51.5px;
            grid-area: 2/2/4/3;
            margin-top: 1.5px;
            font-size: 22px;
        }

        h2{
        font-size: 14px;
        grid-area: 2/4/3/6;
        line-height: 12px;
        letter-spacing: 1.4px;
        color: $header-color;
        }

        p{
            font-size: $font;
            color: $p-color;
            grid-area:3/4/4/-3;
            line-height: 24px;
        }
}

@mixin grid-for-long{
    display: grid;
    grid-template-columns: 49px 65px 28px 216px 761px 21px 15px;
    grid-template-rows: 41px 25px 44px;
}