$border-yellow:#F9B718;
$background-yellow:#FFC12D;
$header-color:#2C3E50;
$exclamation-color:#A47503;
$p-color:#A1B1BC;
$x-color:#CFD2D3;
$border-col:#E2E6E7;
$background-green:#97E411;
$border-green:#7BC200;
$checkmarck-col:#558502;
$background-red:#FD7761;
$border-red:#F55C43;
$iconX-col:#D52E13;
$background-blue:#6FD9FC;
$border-blue:#47B4F6;
$lighting-color:#0787D4;
$background-purple:#A39CDC;
$border-purple:#8781BD;
$i-mark:#5B568E;